<!-- Section 1 -->
<section class="bwbs_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>Bike Works Beach & Sports</h1><br>
        <h4>WEBSITE</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>Bike Works Beach & Sports is a multisport retail store in Waikoloa Village, Hawaii.  I built the original site for them years ago a decided to spruce it up.  Its a pretty dense retail site with online bike rentals and event service requests.</p><br>
    </div>
  </div>
</section>

<!-- Section 2 -->
<section id="work_container">
  <div class="row clearfix">
    <div class="col-xs-12"><h4>WEBSITE</h4>
      <hr>
      <ul>
        <li class="col-xs-10 col-xs-offset-1 text-center"><img src="images/aib/aib_mac.png" class="img-responsive" alt="aib-logo"></li>
        <li class="col-xs-6 text-center"><img src="images/aib/aib_page2.png" class="img-responsive" alt="aib-logo"></li>
        <li class="col-xs-6 text-center"><img src="images/aib/aib_page3.png" class="img-responsive" alt="aib-logo"></li>
      </ul>
  </div>
</section>