<!-- Section 1 -->
<section class="ftc_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>For The Cause</h1><br>
        <h4>IDENTITY, WEB</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>For The Cause was a project built for grass roots organizations.  It was designed to be a simple way to find out your local politicians, their voting record and where there campaing finances were coming from. </p><br>
        <a href="http://www.aviationislandbrewing.com" target="_blank" class="btn btn-sm btn-primary">VISIT WEBSITE</a></div>
    </div>
  </div>
</section>

<!-- Section 2 -->
<section id="work_container">
  <div class="row clearfix">
    <div class="col-xs-12"><h4>WEBSITE</h4>
      <hr>
      <ul>
        <li class="col-xs-10 col-xs-offset-1 text-center"><img src="images/aib/aib_mac.png" class="img-responsive" alt="aib-logo"></li>
        <li class="col-xs-6 text-center"><img src="images/aib/aib_page2.png" class="img-responsive" alt="aib-logo"></li>
        <li class="col-xs-6 text-center"><img src="images/aib/aib_page3.png" class="img-responsive" alt="aib-logo"></li>
      </ul>
  </div>
</section

<section class="work_bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h5><strong>THE PROBLEM</strong></h5>
        <p><small>Its not very easy to figure out who you local constituents are and if they might be sympathetic to your cause.  The data is out there but its spread out on many different databases. The challenge was to make it all come together in an understandable way. </small></p>
      </div>
      <div class="col-sm-6 text left">
        <h5><strong>THE SOLUTION</strong></h5>
        <p><small>I wanted a clean look and feel to the website.  I wanted it easy to use with no external noise to get in the way of the data.  Multiple API calls were used to different databases.  That data was then manipulated and fed into the the graphing software I used on the last page.   </small></p>
      </div>
    </div>
  </div>
</section>