    <section id="intro" class="pad-intro">
      <div class="container text-vcenter">
        <div class="row">
          <div class="col-xs-12 text-center "> <img src="images/gp.png"> </div>
          <div class="col-xs-12 text-center animated bounceInLeft">
        <h1> I am Web Developer<br>
          I like fun projects. I like fun people.</h1>
      </div>
          <div class="col-xs-12 text-center ">
            <h1>I like devloping fun projects with fun people.<br>
              Let's do fun things together.</h1>
          </div>
        </div>
      </div>
    </section>

    <section id="work" >
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1>My Work</h1>
            <h2 class="subTitle">Latest fun projects I've been working on:</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <div ng-repeat="project in projects">

              <div class="col-xs-12 col-sm-6 col-md-4 col_adj">
                <div class="thumbnail">
                  <div class="work-thumb">
                    <div class="work-image"> <a ui-sref="{{project.url}}"> <img src="{{project.img}}" alt='' width='600' height='600' /></a>
                    </div><!--work-image-->
                    <div class="work-heading">
                      <h2 class="thumb-heading"><a ui-sref="{{project.url}}">{{project.name}}
                        <li ng-repeat="type in project.category">
                          {{type}}
                        </li>
                        </a></h2>
                      </div><!--work-heading-->
                    </div><!--work-thumb-->
                </div><!--thumbnail-->
              </div>

            </div>
          </div><!--end class col-sm-10-->
        </div><!--End Row -->
      </div><!--End Folio Container-->
    </section>

    <!-- Section 3 -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h2> Hello.  I'm Geoff Pavey,
              a Web Developer.<br>
              <br>
            </h2>
          </div>
          <div class="col-xs-12 col-sm-4  text-left">
                <div class="col-12 text-center"><i class="fa fa-laptop fa-3x "></i></div>
                <h3>I specialize in web development and design </h3>
                <p> I speak MVC Javascript, jQuery, HTML5, CSS3, SQL, Ruby and a little Node.js</p>
                <p> I can work my way around many frameworks including Angular.js Rails, Sinatra and Bootstrap</p>
                <p> I have worked with Postgresql, Mysql and Mongo</p>
                <p> I can make a bow tie out of a dollar bill... blindfolded</p>
          </div>
          <div class="col-xs-12 col-sm-4 text-left">
            <p>
            <div class="col-xs-12 text-center"><i class="fa fa-rocket fa-3x" ></i></div>
            </p>
            <h3>They say that the journey is the destination and so far my life has led me on a great one.</h3>
            <p> I've worked as a network administrator, a systems administrator, a bike mechanic, a carpenter, an international aid worker, a suit salesman, a shoe salesman, a sporting goods store manager and a bartender. And thats just the highlight reel.</p>
            <br>
          </div>
          <div class="col-xs-12 col-sm-4"> <img src="images/me.jpg" alt="Me" class="img-rounded img-responsive" > </div>
        </div>
      </div>
    </section>

    <div ui-view></div>
