<!-- Section 1 -->
<section class="work_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>Random Posters</h1>
        <br>
        <h4>Print Work</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>This is just a sampling of some of the posters that I have created.</p><br>

    </div><!--end row-->
  </div>
  </div>
  <!-- /container -->
</section>

<!-- Section 2 -->
<section id="work_container">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h4>BRANDING ELEMENTS</h4>
        <hr>
          <div class="work_elements">
        <ul>
            <li class="col-xs-12 col-sm-6 text-center"><img src="images/posters/aib_brick_poster.jpg" class="img-responsive" alt="aviation island poster" ></li>
            <li class="col-xs-12 col-sm-6 text-center"><img src="images/posters/windsurfing_poster.jpg" class="img-responsive" alt="windsurfing poster"></li>

        </ul></div>
      </div>
    </div>


  </div>
</section>