body {
    font: 150;
    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 21px;
    height: 100%;
}
html,
body {
    height: 100%;
    max-width: 100%;
    /*overflow-x: visable;*/
}
h1 h2 h3 h4 h5 h6 { font-family: 'Open Sans', sans-serif }
ul { text-decoration: none }
    ul li { list-style-type: none }
/*a:hover {
  border-bottom: 1px #2A6496 solid;
  text-decoration: none;
}*/

.h1{font-size: 3em;}
.h2{font-size: 2em;}
.h3{font-size: 1.5em;}
.row {margin:0;}
.px20 {padding-top: 20px;}
.pt20 {padding-top: 20px;}
.pb20 {padding-bottom:20px;}
.pt40 {padding-top: 40px;}
.pb40 {padding-bottom: 40px;}
.mb40 {margin-bottom: 40px;}
.mt75 {margin-top: 75px};
.m-auto:{margin:0 auto;}
.m20 {margin:20px;}
.lh3 {line-height: 3em;}
.lh2 {line-height: 2em;}
.clear{clear: both;}
.shadow1 {text-shadow: 1px 1px #474747;}
.italic{font-style: italic;}
.pad-section { padding: 50px 0 }
.pad-intro {
    padding-top: 100px;
    padding-bottom: 150px;
}
.pad-section img { width: 100% }
.no-block .img-responsive {
    display: inline-block;
}
.left {float: left;}
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
section {color:#fff;}
section:nth-of-type(1) {
  background-color: #2e5367 ;
}
section:nth-of-type(2) {
  background-color: #267481;
}
section:nth-of-type(3) {
  background-color: #fcb052;
}
section:nth-of-type(4) {
  background-color: #f06a59;
}
#intro {
    color: #FFF;
    background: url(../images/tea.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    letter-spacing: 1.1px;
}
#intro .h3 {line-height: 1.5;}
.name {
    font-size: 6em;
    position:relative;
    left:-5px;
    float:left;
    text-transform: uppercase;
  }
#about {
    padding: 75px 0;
    color: #fff;
}
.media-object {
    width: 64px;
    height: 64px;
    padding-bottom: 30px;
}

/** Work
 * ==================================================
*/
.work-items {
  background: #fff url(../images/bg/fleck-white.gif) fixed center center repeat;
  padding: 3.333em 0;
  position: relative;
}
.work-items h2 {
  color: #4c3d6d;
  font-family: "futura-pt-condensed","Futura PT Condensed","Arial Narrow";
  font-size: 3.5rem;
  line-height: 1;
  padding-top: 32px;
  position: relative;
  text-transform: uppercase;

}
.work-item {
  padding-bottom: 5em;
  position: relative;
}
.work-item:before, .work-item:after {
  content: " ";
  display: table;
}
.no-disk ul li{
  list-style:none !important;
}

.work-items ul li, ol {
  list-style: circle outside none;
  margin: 1em 0;
}
.work-item.even .work-desc ul {
  direction: rtl;
  padding: 0 1.5em 0 0;
}
.work-item.even .work-desc {
  float: right;
  margin-left: 2.857142857%;
  margin-right: 0;
  text-align: right;
  font-size: 1.4vw;
}
.work-desc {
  float: right;
  margin-right: 2.857142857%;
  line-height: 1.333;
  vertical-align: top;
}
.no-disk p {
  font-size: 1.4vw;
}

/** Contact
 * ==================================================
 */
.contact {
    padding: 25px;
    color: #fff;
    background-color: #144D50;
    font-family: inherit;
}
/*.contact-data { padding: 10px 30px }*/
.contact a { color: #fff }
.contact a:hover { color: #000 }
/** WordPress Except link
 * ==================================================
 */
.more-link {display: none;}

/** Style HR
 * ==================================================
 */
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}



/* portfolio
==================================================  */
nav#filter_btn { margin-bottom: 22px }
nav#filter_btn li {
    display: inline-block;
    list-style: none;
}
.navbar-inverse .navbar-nav > li > a{cursor: pointer;}
.thumbnail {
    padding: 10px;
    border: 1px solid #000;
    background-image: none;
    margin: 10px;
}
.col_adj {
    border: none;
    padding: 1px;
}

/** Footer
 * ==================================================
 */

footer {
    padding: 25px 0;
    color: #fff;
    font-family: inherit;
}
.video-container {
    position: relative;
    padding-bottom: 75%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.twitter-timeline { width: 100%; }
#copyright ul {
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9px;
    color: #fff;
    text-align: center;
}
#copyright li {
    list-style: none;
    display: inline;
}
/* social
==================================================  */
#social ul {
  padding-left: 0px;
}
#social li {
    list-style: none;
    display: inline;
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic
==================================================  */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
        background-color: #eee;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -o-border-radius: 8px;
        -ms-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
}

pre.prettyprint {
        width: 95%;
        margin: 1em auto;
        padding: 1em;
        white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
@media screen and (max-width: 601px){
  .lh3 {
    line-height: 5em !important;
  }
}