

body {
  font: 150 ;
  line-height: 1.6875;
  font-family: 'Ropa Sans', Georgia, sans-serif;
  font-size:14px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:21px;
  height: 100%;
}

html,body{
    height:100%;
    max-width: 100%;
    /*overflow-x:visable;*/
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Ropa Sans', Georgia, sans-serif;
}

ul {text-decoration: none;}

ul li {list-style-type: none;}

hr {
border-top: 1px dotted #2E3433;
width: 100%;
}

.pad-section{
    padding: 50px,0;
}

.pad-intro{
  padding-top: 200px;
  padding-bottom: 150px;
}

.pad-section img{
    width: 100%;
}

.text-vcenter{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#intro {

    color:#FFF;
    background: url(../images/tea.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about {
  padding: 75px 0;
  color: #fff;
  background-color: #d83e40;
}

.media-object {
  width: 64px;
  height: 64px;
  padding-bottom: 30px
}

/* Contact
================================================== */

.contact{
  padding:25px;
  color:#fff;
  background-color:#144D50;
  font-family:inherit;
}
.contact-data {
  padding:10px 30px;
}

.contact a{
  color:#fff;
}
.contact a:hover{
  color: #000;
}

/* portfolio
================================================== */
nav#filter_btn {
  margin-bottom: 22px;
}
nav#filter_btn li {
  display: inline-block;
  list-style: none;
}
.thumbnail {
  padding: 0px;
  border: 1px;
  background-image: none;
  margin: 0px;
}
.col_adj {
  border: none;
  padding:1px;
  }
#work {
  padding: 100px 0;
  background-color: #424847;
  color:#fff;
}


img.attachment-featured-image, #work-image a img  {
margin: 0;
}


.work_container ul {
    padding:10px;
    text-align:center;
}

.work_background {
    padding-top:100px;
    padding-bottom:60px;
  color: #000;
  background-image: url(../images/work_bkgrnd.jpg);
}
.work_bottom {
    padding-top:50px;
    padding-bottom:60px;
    color:#000;
  background-image: url(../images/work_bkgrnd.jpg);
}
.work_bottom h5{
    color:#f00;
}
.work-thumb {
            position: relative;
            margin: 0px;
            background: #2E3433;
        }
.work-thumb .work-heading {
            position: absolute;
            left: 10px;
            top: 10px;
            display: none;
        }
.work-thumb:hover .work-heading {
            display: block;
        }

.work-image  {
opacity: 1;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
position: relative;
z-index: 2;
}
.work-image:hover {
opacity: 0;
}
.work-heading {
padding: 20px;
z-index: 1;
}
.work-heading a {
color: #FFF;
}
.work-heading h2 {
font-size: 18px;
}
.work-heading h2 p {
font-size: 12px;
}

/* Footer
================================================== */

footer {
  padding: 25px 0;
  color: #fff;
  background-color: #144D50;
  font-family:inherit;
}


#copyright ul{
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
  color: #fff;
  text-align:center;

}
#copyright li{
  list-style:none;
  display:inline;
}

/* social
================================================== */

#social li {
  list-style:none;
  display:inline;
}


