<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-left"> <i class="fa fa-caret-square-o-right "></i> Fishy Feet
        <hr>
        <div id="fishy" >
          <iframe  height="250" src="http://www.youtube.com/embed/lwI8Lc7rjNY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <!--end col-->
      <div class="col-xs-12 col-sm-4 text-left"> <i class="fa fa-twitter"></i> Random Tweet
        <hr>
        <div><a class="twitter-timeline" href="https://twitter.com/GeoffPavey" data-widget-id="410891384594264064">Tweets by @GeoffPavey</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
      </div>
      <!--end col-->
      <div class="col-xs-12 col-sm-4 text-left" > <i class="fa fa-envelope-o"></i> Want to meet?
        <hr>
        <div class="contact-data"> <a href="http://geoffpavey.com" >Geoff Pavey</a><br />
          808-896-9492<br />
          <a href="mailto:geoffpavey@gmail.com">geoffpavey@gmail.com</a></div>
        <br />
        <br />
        <div id="social">
          <ul>
            <li><a href="http://twitter.com/#!/geoffpavey" target="_blank" alt="@geoffpavey" title="@geoffpavey"><img src="./app/images/twitter_white.png"></a></li>
      <li><a href="http://linkedin.com/in/geoffpavey" target="_blank" alt="" title="linkedin"><img src="./app/images/linkedin_white.png"></a></li>
            <li><a href="http://behance.com/geoffpavey" target="_blank" alt="geoffpavey" title="behance"><img src="./app/images/behance_white.png"></a></li>
          </ul>
        </div>
      </div>
      <!--end col-->
    </div>
  </div>
  <hr>
</section>

