<section id="intro" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center "> <img src="./app/images/gp.png"> </div>
      <div class="col-xs-12 text-center ">
        <h1> I am a graphic designer. I am a web developer.<br>
          I like fun projects. I like fun people.</h1>
      </div>
      <div class="col-xs-12 text-center animated bounceInRight">
        <h1>I like devloping fun projects with fun people.<br>
          Let's do fun things together.</h1>
      </div>
    </div>
  </div>
</section>
