

<header>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" ng-href="http://www.geoffpavey.com" ><img src="images/gp_small.png" height="20px"></a>
        <p class="navbar-text">Geoff Pavey - <small>Web Developer</small></p>
      </div>
      <div id="navigation" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-href="#/home"><i class="fa fa-home fa-fw"></i>HOME</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

</header>
<section class="work_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>Aviation Island Brewing</h1>
        <br>
        <h4>IDENTITY, WEB</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>Aviation Island Brewing is a private label owned and operated by brewmaster Brice Ginardi.  It is located on the island of Alameda just east of San Francisco, California. After being an all-grain homebrewer for many years, he decided to go pro. Lucky for you! He thinks bringing your ego into the brewhouse gives beer an off-flavor. The simple combination of water, malt, hops, and yeast keeps him humble everyday. Brice and the small AIB staff plan and craft each beer by hand, to extremely exacting standards. For them and for you, the sky's the limit!</p><br>
        <a href="http://www.aviationislandbrewing.com" target="_blank" class="btn btn-sm btn-primary">VISIT WEBSITE</a></div>
    </div><!--end row-->
  </div>
  <!-- /container -->
</section>

<!-- Section 2 -->
<section class="work_container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li class="col-xs-12 text-center"><img src="../images/aib/main-brand.png" class="img-responsive" alt="aib-logo"></li>
        </ul>
      </div>
    </div>
    <!--End Row-->

    <div class="row">
      <div class="col-xs-12">
        <h4>BRANDING ELEMENTS</h4>
        <hr>
          <div class="work_elements">
        <ul >
          <li class="col-xs-4 text-center"><img src="../images/aib/bottle_logo.png" class="img-responsive" alt="beer logo" ></li>
          <li class="col-xs-4 text-center"><img src="../images/aib/bottle-logo-bomber.png" class="img-responsive" alt="beer logo"></li>
          <li class="col-xs-4 text-center"><img src="../images/aib/bottle-logo-skytrain.png" class="img-responsive" alt="beer logo"></li>
        </ul>

        <ul>
          <li class="col-xs-4 text-center"><img src="../images/aib/logo_bw.png" class="img-responsive" alt="beer logo" ></li>
          <li class="col-xs-4 text-center"><img src="../images/aib/aib_brick.jpg" class="img-responsive" alt="beer logo" height="90%"></li>
          <li class="col-xs-4 text-center"><img src="../images/aib/stamp.png" class="img-responsive" alt="beer logo"></li>
        </ul></div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-xs-12"><h4>GLASSWARE</h4>
        <hr>
        <ul>
          <li class="col-xs-6 text-center"><img src="../images/aib/growler.jpg" class="img-responsive" alt="aib-logo"></li>
          <li class="col-xs-6 text-center"><img src="../images/aib/glass.png" class="img-responsive" alt="aib-logo"></li>
        </ul>
      </div>

      <div class="row clearfix">
        <div class="col-xs-12"><h4>WEBSITE</h4>
          <hr>
          <ul>
            <li class="col-xs-10 col-xs-offset-1 text-center"><img src="../images/aib/aib_mac.png" class="img-responsive" alt="aib-logo"></li>
            <li class="col-xs-6 text-center"><img src="../images/aib/aib_page2.png" class="img-responsive" alt="aib-logo"></li>
            <li class="col-xs-6 text-center"><img src="../images/aib/aib_page3.png" class="img-responsive" alt="aib-logo"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section 3 -->
<section class="work_bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h5><strong>THE PROBLEM</strong></h5>
        <p><small>Brice wanted to create a brand that paid homage to the long history of Alameda Island. Much of Alameda's land mass has been man made, and often specifically for airplanes. More than once, marsh land became runways. For many years it was known as Aviation Island due to its long association with aviation history.</small></p>
      </div>
      <div class="col-sm-6 text left">
        <h5><strong>THE SOLUTION</strong></h5>
        <p><small>I began developing his brand via the traditional medium of paper and pencil, moving into ink, then finally into a digital medium. I wanted all the elements to have a vintage look and feel.  I created a map of the island as it was in the late 1930's.  I chose a single page layout for the Aviation Island website, which turned out to be a perfect amount of space for all the necessary information. </small></p>
      </div>
      <div class="col-xs-12 text-center pt20"><a ng-href="#/home" class="btn btn-sm btn-primary">Back</a></div>
    </div>
  </div>
</section>



