<!-- Section 1 -->
<section class="work_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>Bike Works Beach &amp; Sports</h1><br>
        <h4>WEBSITE, LOGO</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>Bike Works Beach &amp; Sports is a multisport retail store in Waikoloa Village, Hawaii.  I built the original site for them years ago a decided to spruce it up.  Its a pretty dense retail site with online bike rentals and event service requests.</p><br><a href="http://bwbs.geoffpavey.com" target="_blank" class="btn btn-sm btn-primary">VISIT WEBSITE</a>
      </div>
    </div>
  </div>
</section>


<section class="work_container">
  <div class="container">

    <div class="row text-center">
      <div class="col-xs-12">
        <img src="images/bwbs/home.png" class="img-responsive" alt="aib-logo">
      </div>
    </div>


    <div class="row text-center">
      <div class="col-xs-12">
        <img src="images/bwbs/rent.png" class="img-responsive" alt="">
      </div>
    </div>
    <hr>

    <div class="row text-center">
      <div class="col-xs-12">
        <img src="images/bwbs/tune.png" class="img-responsive" alt="">
      </div>
    </div>
    <hr>

    <div class="row text-center">
      <div class="col-xs-12">
        <img src="images/bwbs/find.png" class="img-responsive" alt="">
      </div>
    </div>
    <hr>

    <div class="row text-center">
      <div class="col-xs-6"><img src="images/bwbs/iphone1.png" class="img-responsive" alt=""></div>
      <div class="col-xs-6"><img src="images/bwbs/iphone2.png" class="img-responsive" alt="">
      </div>
      <div class="col-xs-12">
        <img src="images/bwbs/ipad.png" class="img-responsive" alt="">
      </div>
    </div>



    <hr>
  </div>
</section>