

<!-- Section 1 -->
<section class="work_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>My Business Cards</h1><br>
        <h4>IDENTITY, WEBSITE</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>I was playing around with my logo and came up with this business card.  The style of the logo feels very art deco to me and inspired the finished product.</p><br>
      </div>
    </div>
  </div>
</section>

<!-- Section 2 -->
<section class="work_container">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <hr>
        <img src="images/card/bc_front.jpg" class="img-responsive" alt="business card front">
      </div>
    </div>
  </div>
</section>

<!-- Section 2 -->
<section class="work_container">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <hr>
        <img src="images/card/bc_back.jpg" class="img-responsive" alt="business card back">
      </div>
    </div>
    <hr>
  </div>
</section>

