<header>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" ng-href="http://www.geoffpavey.com" ><img src="images/gp_small.png" height="20px"></a>
        <p class="navbar-text">Geoff Pavey - <small>Web Developer</small></p>
      </div>
      <div id="navigation" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-href="#/home"><i class="fa fa-home fa-fw"></i>HOME</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

</header>
<section class="work_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>eVOC Insights</h1><br>
        <h4>WEBSITE</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left">
        <p>eVOC Insights does customer research to provide insight into the behavior, thoughts and attitudes of customers.  They wanted to freshen up their site and give it a more up to date feel.  They also wanted it to be responsive.</p>
        <a href="" target="_blank" class="btn btn-sm btn-primary">Coming Soon</a></div>
      </div>
    </div>
  </div>
</section>

<section class="work_container">
  <div class="container">
    <div class="row text-center no-block">
      <div class="col-xs-12 pt40 pb20"> <img src="images/evoc/home.jpg" class="img-responsive" alt="Evoc light home page image">
      </div>
    </div><hr>
    <div class="row text-center no-block">
      <div class="col-xs-12 pt20 pb20">
        <img src="images/evoc/about.jpg" class="img-responsive" alt="evocs light page view">
      </div>
    </div><hr>
    <div class="row text-center no-block">
      <div class="col-xs-12 pt20 pb20">
        <img src="images/evoc/services.jpg" class="img-responsive" alt="evocs light page view">
      </div>
    </div>
  </div><hr>

  <div class="row text-center pb20">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2 text-vcenter no-block"><img src="images/evoc/iphone1.png" class="img-responsive" alt=""></div>
    <div class="col-xs-6 col-sm-4 text-vcenter no-block "><img src="images/evoc/iphone2.png" class="img-responsive" alt=""></div>
  </div>
</section>

<section class="work_bottom"><div class="col-xs-12 text-center pb20 "><a ng-href="#/home" class="btn btn-sm btn-primary">Back</a></div></section>


