    <header>
      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" ng-href="http://www.geoffpavey.com" ><img src="images/gp_small.png" height="20px"></a>
            <p class="navbar-text">Geoff Pavey - <small>Web Developer</small></p>
          </div>
          <div id="navigation" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a ng-click="gotoElement('intro')"><i class="fa fa-home fa-fw"></i>HOME</a></li>
              <li><a ng-click="gotoElement('work')">PORTFOLIO</a></li>
              <li><a ng-click="gotoElement('about')">ABOUT GEOFF</a></li>
              <li><a ng-click="gotoElement('bottom')">WANT TO MEET?</a></li>
              <li><a ui-sref="blog">BLOG</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>

    </header>
    <section id="intro" class="pad-intro">
      <div class="container shadow1 ">
        <div class="row">
          <div class="col-xs-12 left"> <img src="images/gp.png">
          </div>
          <div class="col-xs-12 lh3">
            <span class="italic">The Portfolio of</span><br>
            <span class="name">Geoff Pavey</span>
          </div>
          <div class="col-xs-12 left shadow1 px20">
            <span class="h1">Developer, Designer,</span><br>
            <span class="h2">Traveler, Idealist,</span><br>
            <span class="h3">Good Egg</span>
          </div>
        </div>
      </div>
    </section>

    <section id="work" class="demo">
      <div class="container">

        <div class="row">
          <div class="col-sm-12 text-center">
            <h1>PORTFOLIO</h1>
            <h2 class="subTitle">Latest fun projects I've been working on:</h2>
          </div>
        </div>

          <div id="grid" class="grid clearfix">
            <a href="#" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img src="images/2.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>Crystalline</h2>
                  <p>Soko radicchio bunya nuts gram dulse.</p>
                  <button>View</button>
                </figcaption>
              </figure>
            </a>
            <a href="#" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img src="images/4.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>Cacophony</h2>
                  <p>Two greens tigernut soybean radish artichoke.</p>
                  <button>View</button>
                </figcaption>
              </figure>
            </a>
            <a href="#" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img src="images/6.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>Languid</h2>
                  <p>Beetroot water spinach okra water chestnut.</p>
                  <button>View</button>
                </figcaption>
              </figure>
            </a>
            <a href="#" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img src="images/8.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>Serene</h2>
                  <p>Water spinach arugula pea tatsoi.</p>
                  <button>View</button>
                </figcaption>
              </figure>
            </a>
            <a href="#" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img src="images/1.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>Nebulous</h2>
                  <p>Pea horseradish azuki bean lettuce.</p>
                  <button>View</button>
                </figcaption>
              </figure>
            </a>
            <a href="#" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img src="img/3.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>Iridescent</h2>
                  <p>A grape silver beet watercress potato.</p>
                  <button>View</button>
                </figcaption>
              </figure>
            </a>
            <a href="#" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img src="images/5.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>Resonant</h2>
                  <p>Chickweed okra pea winter purslane.</p>
                  <button>View</button>
                </figcaption>
              </figure>
            </a>
            <a href="#" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img src="images/7.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>Zenith</h2>
                  <p>Salsify taro catsear garlic gram.</p>
                  <button>View</button>
                </figcaption>
              </figure>
            </a>
          </div>

      </div><!--End Folio Container-->
    </section>

    <!-- Section 3 -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h2> Hello.  I'm Geoff Pavey,
              a Web Developer.<br>
              <br>
            </h2>
          </div>
          <div class="col-xs-12 col-sm-4 text-left">
                <div class="col-xs-12 text-center pb20"><i class="fa fa-laptop fa-3x "></i></div>
                <h3>I specialize in web development and design. </h3>
                <p> I speak MVC Javascript, jQuery, HTML5, CSS3, SQL, Ruby</p>
                <p> I can work my way around many frameworks including Angular.js, Sass, Rails, Sinatra and Bootstrap.</p>
                <p> I have worked with Postgresql, Mysql and Mongo.</p>
                <p> I grok Git</p>
                <p> The thought of using Restful Web Services make me giddy</p>
                <p> I think build tools like Grunt, Bower and NPM are divine</p>
                <p> I can make a bow tie out of a dollar bill.</p>
          </div>
          <div class="col-xs-12 col-sm-4 text-left">
            <div class="col-xs-12 text-center pb20"><i class="fa fa-rocket fa-3x" ></i></div>
            <h3>They say that the journey is the destination and so far my life has led me on a great one.</h3>
            <p>My insatiable lust to see the world has led me to over 27 countries. I love living out of a backpack.</p> <p>I've worked as a network administrator, a systems administrator, a bike mechanic, a carpenter, an international aid worker, a suit salesman, a shoe salesman, a sporting goods store manager and a bartender.</p> <p>And that's just the highlight reel.</p>
            <br>
          </div>
          <div class="col-xs-12 col-sm-4"> <img src="images/me.jpg" alt="Me" class="img-rounded img-responsive" > </div>
        </div>
      </div>
    </section>

    <div ui-view></div>
