<!-- Section 1 -->
<section class="work_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>Random Business Logos</h1>
        <br>
        <h4>IDENTITY, BRANDING</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>This is just a sampling of some of the logos I have created.</p><br>

    </div><!--end row-->
  </div>
  </div>
  <!-- /container -->
</section>

<!-- Section 2 -->
<section class="work_container">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h4>BRANDING ELEMENTS</h4>
        <hr>
          <div class="work_elements">
        <ul>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center"><img src="images/logos/AIB_logo.jpg" class="img-responsive" alt="aviation island logo" ></li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center"><img src="images/logos/bwbs_logo.jpg" class="img-responsive" alt="bike works logo"></li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center"><img src="images/logos/outrigger.jpg" class="img-responsive" alt="outrigger logo"></li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center"><img src="images/logos/gp.jpg" class="img-responsive" alt="my logo"></li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center"><img src="images/logos/java_love.jpg" class="img-responsive" alt="coffee logo"></li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center"><img src="images/logos/T3.jpg" class="img-responsive" alt="t3 logo"></li>
        </ul></div>
      </div>
    </div>


  </div>
</section>
