<!-- Section 1 -->
<section class="work_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>SF Film Nerd</h1><br>
        <h4>WEBSITE</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>Im a bit of a film buff and wanted to know what movies were filmed in San Francisco.  I found the data I needed on the SFGov data site and built a Rails app to take the data and present it on Google maps.  A fun side project.</p><br><a href="http://filmnerd.herokuapp.com" target="_blank" class="btn btn-sm btn-primary">VISIT WEBSITE</a>
      </div>
    </div>
  </div>
</section>

<!-- Section 2 -->
<section class="work_container">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <img src="images/nerd/nerd.png" class="img-responsive" alt="google map">
      </div>
    </div>
  </div>
</section>



<section class="work_bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h5><strong>THE PROBLEM</strong></h5>
        <p><small>The data was not very clean to start out with.  It had all the locations by name but not by geolocation so I had no easy way to map the data points.  I also had to deal with the fact that multiple film were set at the same location.  </small></p>
      </div>
      <div class="col-sm-6 text left">
        <h5><strong>THE SOLUTION</strong></h5>
        <p><small>I found a tool from openrefine.org that would allow me to take the data, parse it up, send the named locations to google and get the geolocation codes back in a flat file. I was then able to take the new data and put it in a sql database.  Fun stuff.</small></p>
      </div>
    </div>
  </div>
</section>
