<!-- Section 1 -->
<section class="work_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>Portfolio</h1><br>
        <h4>WEBSITE</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>I needed a fun way to express myself and my work.  I love flat, clean design and tried to incorporate that into the site. The image of me on the front page was taken while sitting in a tea house in Namche, Nepal.</p><br><a href="http://geoffpavey.com" target="_blank" class="btn btn-sm btn-primary">VISIT WEBSITE</a>
      </div>
    </div>
  </div>
</section>

<!-- Section 2 -->
<section class="work_container">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <img src="images/portfolio/geoff.png" class="img-responsive" alt="google map">
      </div>
    </div>
  </div>
</section>



