<header>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" ng-href="http://www.geoffpavey.com" ><img src="images/gp_small.png" height="20px"></a>
        <p class="navbar-text">Geoff Pavey - <small>Web Developer</small></p>
      </div>
      <div id="navigation" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-href="#/home"><i class="fa fa-home fa-fw"></i>HOME</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

</header>
<section class="work_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>Portfolio</h1><br>
        <h4>WEBSITE</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>I needed a fun way to express myself and my work.  I love flat, clean design and tried to incorporate that into the site. It was built with HTML5, CSS3, Javascript and Angular.js. The image of me on the front page was taken while sitting in a tea house in Namche, Nepal.</p><br><a href="http://geoffpavey.com" target="_blank" class="btn btn-sm btn-primary">VISIT WEBSITE</a>
      </div>
    </div>
  </div>
</section>

<section class="work_container">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <img src="images/portfolio/geoff.png" class="img-responsive" alt="google map">
      </div>
    </div>
  </div>
</section>

<section class="work_bottom"><div class="col-xs-12 text-center pb20 "><a ng-href="#/home" class="btn btn-sm btn-primary">Back</a></div></section>



