<!-- Section 1 -->
<section class="work_background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <h1>SF Film Nerd</h1><br>
        <h4>WEBSITE</h4>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6 text-left"><p>This is a mockup for a travel site.  I was given a .psd file and asked to make a pixel perfect one page version of it.  It turned out rather well.</p><br><a href="http://travel.geoffpavey.com" target="_blank" class="btn btn-sm btn-primary">VISIT WEBSITE</a>
      </div>
    </div>
  </div>
</section>

<!-- Section 2 -->
<section class="work_container">
  <div class="pad-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-10 col-xs-offset-1 ">
        <img src="images/travel/travel2.jpg" class="img-responsive" alt="google map">
      </div>
    </div>
  </div></div>
</section>



